﻿@{
    ViewBag.Title = "Acerca de nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta aplicación fue desarrollada por los estudiantes: 
    Verónica Pavón
    Edisón Rogel
    Fernando Ávila
    Jorge Flores
</p>
