﻿@{
    ViewBag.Title = "Contáctanos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UTPL <br />
    INGENIERIA DE SOFTWARE<br />
    <abbr title="Phone">P:</abbr>
</address>

<address>
    <strong>Veronica:</strong>   <a href="mailto:veropavon_flor@hotmail.com">veropavon_flor@hotmail.com</a><br />
    <strong>Ismael:</strong> <a href="mailto:e-mail:fismael@outlook.com">fismael@outlook.com</a>
</address>