﻿@{
    ViewBag.Title = "Página principal";
}

<div class="jumbotron">
    <h1>Corporación Ferias de Loja</h1>
    <p class="lead">La Corporación Ferias de Loja, cada año organiza una nueva edición de la Feria de Loja, evento en el cual participan comerciantes tanto de Ecuador como de Perú.</p>
    <p><a href="https://www.feriasdeloja.com" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Productos Eduatorianos</h2>
        <p>Conozca los productos Ecuatorianos a exhibirse en esta feria.</p>
        <p><a class="btn btn-default" href="https://www.feriasdeloja.com">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Productos Peruanos</h2>
        <p>Conozca los productos Ecuatorianos a exhibirse en esta feria.</p>
        <p><a class="btn btn-default" href="https://www.feriasdeloja.com">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Conosca más</h2>
        <p>Conozca nuestra feria desde adentro.</p>
        <p><a class="btn btn-default" href="https://www.feriasdeloja.com">Leer más &raquo;</a></p>
    </div>
</div>